In [2]:
from tavily import TavilyClient
from dotenv import load_dotenv
import os
load_dotenv()

OPENAI_API_KEY = os.getenv("OPENAI_API_KEY")

TAVILY_API_KEY = os.getenv("TAVILY_API_KEY")
tavily_client = TavilyClient(TAVILY_API_KEY)

In [6]:

response = tavily_client.search(query="what are the top 10 movies of 2023?", limit=5)

In [8]:
formatted_results = []
if 'results' in response:
    for result in response['results']:
        title = result.get('title', '')
        url = result.get('url', '')
        content = result.get('content', '')
        
        # Format each result as a dictionary string
        result_str = f'{{"title": "{title}", "url": "{url}", "content": "{content}"}}'
        formatted_results.append(result_str)

In [ ]:
output_string = ""
if 'results' in response:
    for i, result in enumerate(response['results']):
        # Extract the required fields
        title = result.get('title', '')
        url = result.get('url', '')
        content = result.get('content', '')
        
        # Format each result and add to the output string
        output_string += f'Title: {title} \n URL: {url} \n Content: {content}'
        
        # Add a separator between results (except after the last one)
        if i < len(response['results']) - 1:
            output_string += '\n\n'

In [12]:
output_string

"Title: Best Movies 2023 - Rotten Tomatoes\nURL: https://editorial.rottentomatoes.com/guide/best-2023-movies/\nContent: Best Movies 2023. After an explosive run in theaters, including generating over $900 million worldwide and a revitalizing IMAX engagement, Universal's creative gamble pays off as critics crown director Christopher Nolan and star Cillian Murphy for Oppenheimer.\n\nTitle: The 10 best movies of 2023 - ABC News\nURL: https://abcnews.go.com/GMA/Culture/review-10-best-movies-2023/story?id=105786708\nContent: The 10 best movies of 2023. Peter Travers shares his take on the best 10 films of 2023. By Peter Travers. December 26, 2023, 4:44 AM. 1:41.\n\nTitle: The Top 10 Movies of 2023 | Best of 2023 - IMDb\nURL: https://www.imdb.com/best-of/top-movies-2023/\nContent: Among the movies released in the U.S. in 2023, these 10 were consistently most popular with IMDb users, as determined by the actual page views of the more than 200 million monthly visitors to IMDb worldwide. This exclusive and definitive data is derived from IMDbPro MOVIEmeter rankings, which are updated weekly throughout the year.\n\nTitle: The Ten Best Films of 2023 | Features - Roger Ebert\nURL: https://www.rogerebert.com/features/the-ten-best-films-of-2023\nContent: These are the films selected by the regular film reviewing staff of RogerEbert.com as the best of the year. Come back on Thursday to see the specific lists of all of the regular critics, plus those from our extended family of contributors. And click through on the links below, when available, to watch the best films of 2023.\n\nTitle: The 10 best movies of 2023 (and 4 worst) - Entertainment Weekly\nURL: https://ew.com/best-movies-of-2023-8411359\nContent: The 10 best TV shows of 2023 (and 3 worst) See top 2024 Oscars contenders for Best Picture, Actor, Actress, and more Wonka review: Timothée Chalamet leans into sense of pure imagination in"

In [9]:
"[" + ", ".join(formatted_results) + "]"

'[{"title": "Best Movies 2023 - Rotten Tomatoes", "url": "https://editorial.rottentomatoes.com/guide/best-2023-movies/", "content": "Best Movies 2023. After an explosive run in theaters, including generating over $900 million worldwide and a revitalizing IMAX engagement, Universal\'s creative gamble pays off as critics crown director Christopher Nolan and star Cillian Murphy for Oppenheimer."}, {"title": "The 10 best movies of 2023 - ABC News", "url": "https://abcnews.go.com/GMA/Culture/review-10-best-movies-2023/story?id=105786708", "content": "The 10 best movies of 2023. Peter Travers shares his take on the best 10 films of 2023. By Peter Travers. December 26, 2023, 4:44 AM. 1:41."}, {"title": "The Top 10 Movies of 2023 | Best of 2023 - IMDb", "url": "https://www.imdb.com/best-of/top-movies-2023/", "content": "Among the movies released in the U.S. in 2023, these 10 were consistently most popular with IMDb users, as determined by the actual page views of the more than 200 million monthly visitors to IMDb worldwide. This exclusive and definitive data is derived from IMDbPro MOVIEmeter rankings, which are updated weekly throughout the year."}, {"title": "The Ten Best Films of 2023 | Features - Roger Ebert", "url": "https://www.rogerebert.com/features/the-ten-best-films-of-2023", "content": "These are the films selected by the regular film reviewing staff of RogerEbert.com as the best of the year. Come back on Thursday to see the specific lists of all of the regular critics, plus those from our extended family of contributors. And click through on the links below, when available, to watch the best films of 2023."}, {"title": "The 10 best movies of 2023 (and 4 worst) - Entertainment Weekly", "url": "https://ew.com/best-movies-of-2023-8411359", "content": "The 10 best TV shows of 2023 (and 3 worst) See top 2024 Oscars contenders for Best Picture, Actor, Actress, and more Wonka review: Timothée Chalamet leans into sense of pure imagination in"}]'

In [3]:
import requests

# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = 'https://www.alphavantage.co/query?function=OVERVIEW&symbol=IBM&apikey=WIE0ULQGJL3K6EKA'
r = requests.get(url)
data = r.json()

print(data)

{'Symbol': 'IBM', 'AssetType': 'Common Stock', 'Name': 'International Business Machines', 'Description': 'International Business Machines Corporation (IBM) is an American multinational technology company headquartered in Armonk, New York, with operations in over 170 countries. The company began in 1911, founded in Endicott, New York, as the Computing-Tabulating-Recording Company (CTR) and was renamed International Business Machines in 1924. IBM is incorporated in New York. IBM produces and sells computer hardware, middleware and software, and provides hosting and consulting services in areas ranging from mainframe computers to nanotechnology. IBM is also a major research organization, holding the record for most annual U.S. patents generated by a business (as of 2020) for 28 consecutive years. Inventions by IBM include the automated teller machine (ATM), the floppy disk, the hard disk drive, the magnetic stripe card, the relational database, the SQL programming language, the UPC barcode, and dynamic random-access memory (DRAM). The IBM mainframe, exemplified by the System/360, was the dominant computing platform during the 1960s and 1970s.', 'CIK': '51143', 'Exchange': 'NYSE', 'Currency': 'USD', 'Country': 'USA', 'Sector': 'TECHNOLOGY', 'Industry': 'COMPUTER & OFFICE EQUIPMENT', 'Address': '1 NEW ORCHARD ROAD, ARMONK, NY, US', 'OfficialSite': 'https://www.ibm.com', 'FiscalYearEnd': 'December', 'LatestQuarter': '2024-12-31', 'MarketCapitalization': '210934006000', 'EBITDA': '10442000000', 'PERatio': '35.49', 'PEGRatio': '1.553', 'BookValue': '29.48', 'DividendPerShare': '6.67', 'DividendYield': '0.0294', 'EPS': '6.41', 'RevenuePerShareTTM': '68.08', 'ProfitMargin': '0.096', 'OperatingMarginTTM': '0.197', 'ReturnOnAssetsTTM': '0.0306', 'ReturnOnEquityTTM': '0.241', 'RevenueTTM': '62753001000', 'GrossProfitTTM': '35552002000', 'DilutedEPSTTM': '6.41', 'QuarterlyEarningsGrowthYOY': '-0.129', 'QuarterlyRevenueGrowthYOY': '0.01', 'AnalystTargetPrice': '253.99', 'AnalystRatingStrongBuy': '3', 'AnalystRatingBuy': '7', 'AnalystRatingHold': '8', 'AnalystRatingSell': '2', 'AnalystRatingStrongSell': '1', 'TrailingPE': '35.49', 'ForwardPE': '20.88', 'PriceToSalesRatioTTM': '3.361', 'PriceToBookRatio': '7.72', 'EVToRevenue': '4.059', 'EVToEBITDA': '20.92', 'Beta': '0.662', '52WeekHigh': '266.45', '52WeekLow': '157.33', '50DayMovingAverage': '250.79', '200DayMovingAverage': '219.15', 'SharesOutstanding': '927264000', 'DividendDate': '2025-03-10', 'ExDividendDate': '2025-02-10'}

In [4]:
from eodhd import APIClient
import pandas as pd

In [5]:
api = APIClient("67f455c8d6d949.46717903")

In [6]:
earnings_trends = api.get_earning_trends_data (symbols = "AAPL.US, MS") 
et = pd.DataFrame(earnings_trends)
print(et) # for Earnings Trends Data

[18:57:45] Expecting value: line 1 column 1 (char 0)                                                  ]8;id=87113;file://c:\Users\yohan\anaconda3\envs\final_proj_1\Lib\site-packages\eodhd\APIs\BaseAPI.py\BaseAPI.py]8;;\:]8;id=683280;file://c:\Users\yohan\anaconda3\envs\final_proj_1\Lib\site-packages\eodhd\APIs\BaseAPI.py#39\39]8;;\

           403 Client Error: Forbidden for url:                                                       ]8;id=55117;file://c:\Users\yohan\anaconda3\envs\final_proj_1\Lib\site-packages\eodhd\APIs\BaseAPI.py\BaseAPI.py]8;;\:]8;id=826233;file://c:\Users\yohan\anaconda3\envs\final_proj_1\Lib\site-packages\eodhd\APIs\BaseAPI.py#52\52]8;;\
           https://eodhd.com/api/calendar/trends/?api_token=67f455c8d6d949.46717903&fmt=json&symbols=
           AAPL.US,%20MS

Empty DataFrame
Columns: []
Index: []

In [7]:
api_token = "67f455c8d6d949.46717903"

In [8]:
import requests

url = f'https://eodhd.com/api/calendar/earnings?from=2018-12-02&to=2018-12-06&api_token={api_token}&fmt=json'
data = requests.get(url).json()

print(data)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [10]:
import yfinance as yf
import pandas as pd
# import snowflake.connector
# from snowflake.connector.pandas_tools import write_pandas

# Example of batch downloading historical price data
tickers = ["AAPL", "MSFT", "GOOGL", "AMZN", "META"]
data = yf.download(tickers, period="1mo")

# Example of getting multiple company information
ticker_objects = yf.Tickers(tickers)

# Create dataframe for company info
companies_data = []
for symbol in tickers:
    try:
        info = ticker_objects.tickers[symbol].info
        companies_data.append({
            'SYMBOL': symbol,
            'NAME': info.get('shortName', None),
            'MARKET_CAP': info.get('marketCap', None),
            'REVENUE': info.get('totalRevenue', None),
            'PROFIT_MARGIN': info.get('profitMargin', None),
            'PE_RATIO': info.get('trailingPE', None),
            'DIVIDEND_YIELD': info.get('dividendYield', None),
            'BETA': info.get('beta', None)
        })
    except Exception as e:
        print(f"Error processing {symbol}: {e}")

# Convert to DataFrame
df = pd.DataFrame(companies_data)

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  5 of 5 completed

In [11]:
df.head()

,SYMBOL,NAME,MARKET_CAP,REVENUE,PROFIT_MARGIN,PE_RATIO,DIVIDEND_YIELD,BETA
0,AAPL,Apple Inc.,2725910413312,395760009216,None,28.84896900,0.53000000,1.25900000
1,MSFT,Microsoft Corporation,2660323819520,261802000384,None,28.83642200,0.92000000,1.00000000
2,GOOGL,Alphabet Inc.,1800739880960,350018011136,None,18.25248700,0.55000000,1.03500000
3,AMZN,"Amazon.com, Inc.",1857352761344,637959012352,None,31.75000000,NaN,1.39300000
4,META,"Meta Platforms, Inc.",1308001959936,164500996096,None,21.62756500,0.42000000,1.27900000

In [12]:
import shutil
import urllib.request as request
from contextlib import closing
import csv

URLS = [
    {
        "url": "ftp://ftp.nasdaqtrader.com/SymbolDirectory/otherlisted.txt",
        "key": "ACT Symbol"
    },
    {
        "url": "ftp://ftp.nasdaqtrader.com/SymbolDirectory/nasdaqlisted.txt",
        "key": "Symbol"
    }
]

symbols = []

for u in URLS:
    with closing(request.urlopen(u['url'])) as r:
        with open(u['url'].split("/")[-1], 'wb') as f:
            shutil.copyfileobj(r, f)
    with open(u['url'].split("/")[-1], 'r') as f:
        reader = csv.DictReader(f, delimiter="|")
        for line in reader:
            if len(u['key'].split(' ')) == 1:
                symbols.append(line[u['key']])

print(f'Symbols count: {len(symbols)}')

Symbols count: 4841

In [17]:
import pandas as pd
url = 'https://datahub.io/core/nyse-other-listings/r/nyse-listed.csv'
df = pd.read_csv(url)

In [23]:
df.head()

  ACT Symbol                                       Company Name
0          A            Agilent Technologies, Inc. Common Stock
1         AA                    Alcoa Corporation Common Stock
2       AACT  Ares Acquisition Corporation II Class A Ordina...
3     AACT.U  Ares Acquisition Corporation II Units, each co...
4     AACT.W  Ares Acquisition Corporation II Redeemable War...