In [ ]:
import pandas as pd
import snowflake.connector
import yfinance as yf
import numpy as np
import datetime
import time
from dotenv import load_dotenv
import os

load_dotenv()

conn_params = {
    'user': os.getenv('SNOWFLAKE_USER'),
    'password': os.getenv('SNOWFLAKE_PASSWORD'),
    'account': os.getenv('SNOWFLAKE_ACCOUNT'),
    'warehouse': os.getenv('SNOWFLAKE_WAREHOUSE'),
    'database': os.getenv('SNOWFLAKE_DATABASE'),
    'schema': os.getenv('SNOWFLAKE_SCHEMA'),
    'role': os.getenv('SNOWFLAKE_ROLE')
}

In [6]:
def connect_to_snowflake(params):
    try:
        conn = snowflake.connector.connect(
            user=params['user'],
            password=params['password'],
            account=params['account'],
            warehouse=params['warehouse'],
            database=params['database'],
            schema=params['schema'],
            role=params['role']  # Specify the role if needed
        )
        print("Connected to Snowflake successfully!")
        return conn
    except Exception as e:
        print(f"Error connecting to Snowflake: {e}")
        return None

In [7]:
conn = connect_to_snowflake(conn_params)

if conn is None:
    print("Failed to connect to Snowflake. Exiting.")

Connected to Snowflake successfully!

## Table updation with YFINANCE

In [ ]:


def create_table_in_snowflake(conn, table_name="LARGE_COMPANY_DATA_FINAL", schema="OPPORTUNITY_ANALYSIS.MARKET_ANALYSIS"):
    create_query = f"""
    CREATE OR REPLACE TABLE {schema}.{table_name} (
        ID VARCHAR,
        COMPANY_NAME VARCHAR,
        INDUSTRY VARCHAR,
        SIZE VARCHAR,
        FOUNDED NUMBER,
        REGION VARCHAR,
        COUNTRY VARCHAR,
        LOCALITY VARCHAR,
        WEBSITE VARCHAR,
        LINKEDIN_URL VARCHAR,
        COMPANY_AGE NUMBER,
        SIZE_CATAGORY VARCHAR,
        PERFORMANCE_CATEGORY VARCHAR,
        PERFORMANCE_SCORE FLOAT,
        T_SYMBOL VARCHAR,
        TICKER VARCHAR,
        CURRENT_PRICE FLOAT,
        MARKET_CAP NUMBER,
        YEARLY_RETURN NUMBER,
        VOLATILITY VARCHAR
    );
    """
    try:
        cursor = conn.cursor()
        cursor.execute(create_query)
        print(f"Table {schema}.{table_name} created or replaced.")
    except Exception as e:
        print(f"Error creating table: {e}")
    finally:
        cursor.close()

def save_df_to_snowflake(df, table_name="LARGE_COMPANY_DATA_FINAL", database="OPPORTUNITY_ANALYSIS", schema="MARKET_ANALYSIS"):
    conn = connect_to_snowflake(conn_params)
    if conn is None:
        print("❌ Could not connect to Snowflake.")
        return

    try:
        conn.cursor().execute(f"USE DATABASE {database}")
        conn.cursor().execute(f"USE SCHEMA {schema}")

        df.columns = [col.upper() for col in df.columns]

        create_table_in_snowflake(conn, table_name, f"{database}.{schema}")

        # Write data using uppercase column names
        success, nchunks, nrows, _ = write_pandas(conn, df, table_name=table_name, schema=schema)

        if success:
            print(f"✅ Successfully inserted {nrows} rows into {database}.{schema}.{table_name}")
        else:
            print(f"❌ Failed to write DataFrame to Snowflake")

    except Exception as e:
        print(f"❌ Error writing DataFrame to Snowflake: {e}")
    finally:
        conn.close()

In [ ]:
def get_company_data():
    """Fetch company data with ticker symbols from Snowflake"""
    conn = connect_to_snowflake(conn_params)
    if conn is None:
        return None
    
    try:
        query = """
        SELECT * FROM LARGE_COMPANIES_WITH_TICKER
        WHERE T_SYMBOL IS NOT NULL
        """
        
        df = pd.read_sql(query, conn)
        conn.close()
        print(f"Retrieved {len(df)} companies with ticker symbols")
        return df
    except Exception as e:
        print(f"Error fetching company data: {e}")
        if conn:
            conn.close()
        return None

def get_yfinance_metrics(ticker_list):
    """Get relevant financial metrics for a list of tickers"""
    # Filter out None values
    ticker_list = [t for t in ticker_list if t]
    
    if not ticker_list:
        return pd.DataFrame()
    results = {}
    batch_size = 15
    for i in range(0, len(ticker_list), batch_size):
        batch = ticker_list[i:i+batch_size]
        print(f"Processing batch {i//batch_size + 1}/{(len(ticker_list) + batch_size - 1)//batch_size}")
        
        for ticker in batch:
            try:
                ticker_obj = yf.Ticker(ticker)
                info = ticker_obj.info
                hist = ticker_obj.history(period="1y")
                if len(hist) > 0:
                    start_price = hist['Close'].iloc[0]
                    current_price = hist['Close'].iloc[-1]
                    yearly_return = ((current_price - start_price) / start_price) * 100
                    daily_returns = hist['Close'].pct_change().dropna()
                    volatility = daily_returns.std() * 100 * np.sqrt(252)  # Annualized
                else:
                    yearly_return = None
                    volatility = None
                
                # Store the results
                results[ticker] = {
                    'ticker': ticker,
                    'current_price': current_price,
                    'market_cap': info.get('marketCap', None),
                    'yearly_return': yearly_return,
                    'volatility': volatility,
                }
                time.sleep(0.1)  # To avoid hitting the API too fast
                
            except Exception as e:
                print(f"Error processing ticker {ticker}: {e}")
                # Add the ticker to results with None values to maintain the record
                results[ticker] = {
                    'ticker': ticker,
                    'current_price': None,
                    'market_cap': None,
                    'yearly_return': None,
                    'volatility': None
                }
    
    metrics_df = pd.DataFrame.from_dict(results, orient='index')
    return metrics_df

def enhance_company_data_with_yfinance():
    company_df = get_company_data()
    
    if company_df is None or company_df.empty:
        print("No company data available. Exiting.")
        return

    ticker_symbols = company_df['T_SYMBOL'].unique().tolist()
    print(f"Found {len(ticker_symbols)} unique ticker symbols")
    
    metrics_df = get_yfinance_metrics(ticker_symbols)
    
    if metrics_df.empty:
        print("No metrics data retrieved. Exiting.")
        return
    
    enhanced_df = pd.merge(
        company_df,
        metrics_df,
        left_on='T_SYMBOL',
        right_on='ticker',
        how='left'
    )
    enhanced_df = enhanced_df.drop(columns=['ticker'])
    
    print(f"Enhanced dataset has {enhanced_df.shape[1]} columns and {enhanced_df.shape[0]} rows")
    
    # Write the enhanced data back to Snowflake
    save_df_to_snowflake(enhanced_df)
    
    return enhanced_df

In [10]:
en_df = enhance_company_data_with_yfinance()

Connected to Snowflake successfully!

C:\Users\yohan\AppData\Local\Temp\ipykernel_21096\657144211.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

Retrieved 2007 companies with ticker symbols
Found 1782 unique ticker symbols
Processing batch 1/90
Processing batch 2/90
Processing batch 3/90

404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/CELG.R?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=CELG.R&crumb=3JMyOGxXE8v

Error processing ticker CELG.R: 'NoneType' object has no attribute 'update'
Processing batch 4/90
Processing batch 5/90
Processing batch 6/90
Processing batch 7/90
Processing batch 8/90
Processing batch 9/90
Processing batch 10/90
Processing batch 11/90
Processing batch 12/90
Processing batch 13/90
Processing batch 14/90
Processing batch 15/90
Processing batch 16/90
Processing batch 17/90
Processing batch 18/90
Processing batch 19/90
Processing batch 20/90
Processing batch 21/90
Processing batch 22/90
Processing batch 23/90
Processing batch 24/90
Processing batch 25/90
Processing batch 26/90
Processing batch 27/90
Processing batch 28/90
Processing batch 29/90
Processing batch 30/90
Processing batch 31/90
Processing batch 32/90
Processing batch 33/90
Processing batch 34/90
Processing batch 35/90
Processing batch 36/90
Processing batch 37/90
Processing batch 38/90
Processing batch 39/90
Processing batch 40/90
Processing batch 41/90
Processing batch 42/90
Processing batch 43/90
Processing batch 44/90
Processing batch 45/90
Processing batch 46/90
Processing batch 47/90
Processing batch 48/90
Processing batch 49/90

$MOG.A: possibly delisted; no price data found  (period=1y) (Yahoo error = "No data found, symbol may be delisted")

Processing batch 50/90
Processing batch 51/90
Processing batch 52/90
Error processing ticker PSCU: Too Many Requests. Rate limited. Try after a while.
Error processing ticker HLI: Too Many Requests. Rate limited. Try after a while.
Error processing ticker ITW: Too Many Requests. Rate limited. Try after a while.
Error processing ticker ILMN: Too Many Requests. Rate limited. Try after a while.
Error processing ticker MDXG: Too Many Requests. Rate limited. Try after a while.
Processing batch 53/90
Error processing ticker PGHL: Too Many Requests. Rate limited. Try after a while.
Error processing ticker DBMF: Too Many Requests. Rate limited. Try after a while.
Error processing ticker SHIM: Too Many Requests. Rate limited. Try after a while.
Error processing ticker INCY: Too Many Requests. Rate limited. Try after a while.
Error processing ticker INR: Too Many Requests. Rate limited. Try after a while.
Error processing ticker INFA: Too Many Requests. Rate limited. Try after a while.
Error processing ticker IR: Too Many Requests. Rate limited. Try after a while.
Error processing ticker IMKTA: Too Many Requests. Rate limited. Try after a while.
Error processing ticker INGM: Too Many Requests. Rate limited. Try after a while.
Error processing ticker INGR: Too Many Requests. Rate limited. Try after a while.
Error processing ticker INOD: Too Many Requests. Rate limited. Try after a while.
Error processing ticker IOSP: Too Many Requests. Rate limited. Try after a while.
Error processing ticker INNV: Too Many Requests. Rate limited. Try after a while.
Error processing ticker INVX: Too Many Requests. Rate limited. Try after a while.
Error processing ticker NOTV: Too Many Requests. Rate limited. Try after a while.
Error processing ticker NSIT: Too Many Requests. Rate limited. Try after a while.
Error processing ticker NSP: Too Many Requests. Rate limited. Try after a while.
Error processing ticker WWJD: Too Many Requests. Rate limited. Try after a while.
Error processing ticker INSP: Too Many Requests. Rate limited. Try after a while.
Error processing ticker IBP: Too Many Requests. Rate limited. Try after a while.
Processing batch 54/90
Error processing ticker PODD: Too Many Requests. Rate limited. Try after a while.
Error processing ticker CSGP: Too Many Requests. Rate limited. Try after a while.
Error processing ticker COST: Too Many Requests. Rate limited. Try after a while.
Error processing ticker COTY: Too Many Requests. Rate limited. Try after a while.
Error processing ticker COUR: Too Many Requests. Rate limited. Try after a while.
Error processing ticker CVLG: Too Many Requests. Rate limited. Try after a while.
Error processing ticker PMTS: Too Many Requests. Rate limited. Try after a while.
Error processing ticker CPSH: Too Many Requests. Rate limited. Try after a while.
Error processing ticker CBRL: Too Many Requests. Rate limited. Try after a while.
Error processing ticker CRD.A: Too Many Requests. Rate limited. Try after a while.
Error processing ticker CACC: Too Many Requests. Rate limited. Try after a while.
Error processing ticker XJH: Too Many Requests. Rate limited. Try after a while.
Error processing ticker CRML: Too Many Requests. Rate limited. Try after a while.
Error processing ticker CROX: Too Many Requests. Rate limited. Try after a while.
Error processing ticker CCRN: Too Many Requests. Rate limited. Try after a while.
Error processing ticker CAPL: Too Many Requests. Rate limited. Try after a while.
Error processing ticker XOVR: Too Many Requests. Rate limited. Try after a while.
Error processing ticker CCI: Too Many Requests. Rate limited. Try after a while.
Error processing ticker CCK: Too Many Requests. Rate limited. Try after a while.
Error processing ticker XVOL: Too Many Requests. Rate limited. Try after a while.
Processing batch 55/90
Error processing ticker CYRX: Too Many Requests. Rate limited. Try after a while.
Error processing ticker CCTG: Too Many Requests. Rate limited. Try after a while.
Error processing ticker KWEB: Too Many Requests. Rate limited. Try after a while.
Error processing ticker CSWI: Too Many Requests. Rate limited. Try after a while.
Error processing ticker CSX: Too Many Requests. Rate limited. Try after a while.
Error processing ticker CUBE: Too Many Requests. Rate limited. Try after a while.
Error processing ticker CULP: Too Many Requests. Rate limited. Try after a while.
Error processing ticker CPIX: Too Many Requests. Rate limited. Try after a while.
Error processing ticker CMI: Too Many Requests. Rate limited. Try after a while.
Error processing ticker CMLS: Too Many Requests. Rate limited. Try after a while.
Error processing ticker CW: Too Many Requests. Rate limited. Try after a while.
Error processing ticker CWK: Too Many Requests. Rate limited. Try after a while.
Error processing ticker CTOS: Too Many Requests. Rate limited. Try after a while.
Error processing ticker CVI: Too Many Requests. Rate limited. Try after a while.
Error processing ticker CVS: Too Many Requests. Rate limited. Try after a while.
Error processing ticker EME: Too Many Requests. Rate limited. Try after a while.
Error processing ticker EBS: Too Many Requests. Rate limited. Try after a while.
Error processing ticker MSN: Too Many Requests. Rate limited. Try after a while.
Error processing ticker GBLI: Too Many Requests. Rate limited. Try after a while.
Error processing ticker OGCP: Too Many Requests. Rate limited. Try after a while.
Processing batch 56/90
Error processing ticker EHC: Too Many Requests. Rate limited. Try after a while.
Error processing ticker ECPG: Too Many Requests. Rate limited. Try after a while.
Error processing ticker ENR: Too Many Requests. Rate limited. Try after a while.
Error processing ticker EPAC: Too Many Requests. Rate limited. Try after a while.
Error processing ticker ENS: Too Many Requests. Rate limited. Try after a while.
Error processing ticker EBF: Too Many Requests. Rate limited. Try after a while.
Error processing ticker ENVA: Too Many Requests. Rate limited. Try after a while.
Error processing ticker ENPH: Too Many Requests. Rate limited. Try after a while.
Error processing ticker NPO: Too Many Requests. Rate limited. Try after a while.
Error processing ticker ENTG: Too Many Requests. Rate limited. Try after a while.
Error processing ticker EAI: Too Many Requests. Rate limited. Try after a while.
Error processing ticker EPD: Too Many Requests. Rate limited. Try after a while.
Error processing ticker IVT: Too Many Requests. Rate limited. Try after a while.
Error processing ticker NVST: Too Many Requests. Rate limited. Try after a while.
Error processing ticker EOG: Too Many Requests. Rate limited. Try after a while.
Error processing ticker BNDI: Too Many Requests. Rate limited. Try after a while.
Error processing ticker EPAM: Too Many Requests. Rate limited. Try after a while.
Error processing ticker EEIQ: Too Many Requests. Rate limited. Try after a while.
Error processing ticker TFPN: Too Many Requests. Rate limited. Try after a while.
Error processing ticker EPSN: Too Many Requests. Rate limited. Try after a while.
Processing batch 57/90
Error processing ticker EFX: Too Many Requests. Rate limited. Try after a while.
Error processing ticker EQIX: Too Many Requests. Rate limited. Try after a while.
Error processing ticker EQX: Too Many Requests. Rate limited. Try after a while.
Error processing ticker ELS: Too Many Requests. Rate limited. Try after a while.
Error processing ticker EQR: Too Many Requests. Rate limited. Try after a while.
Error processing ticker AMBP.W: Too Many Requests. Rate limited. Try after a while.
Error processing ticker COLD: Too Many Requests. Rate limited. Try after a while.
Error processing ticker SIGIP: Too Many Requests. Rate limited. Try after a while.
Error processing ticker NANR: Too Many Requests. Rate limited. Try after a while.
Error processing ticker MSB: Too Many Requests. Rate limited. Try after a while.
Error processing ticker HRTS: Too Many Requests. Rate limited. Try after a while.
Error processing ticker ECDA: Too Many Requests. Rate limited. Try after a while.
Error processing ticker APUE: Too Many Requests. Rate limited. Try after a while.
Error processing ticker WOW: Too Many Requests. Rate limited. Try after a while.
Error processing ticker ETSY: Too Many Requests. Rate limited. Try after a while.
Error processing ticker EEFT: Too Many Requests. Rate limited. Try after a while.
Error processing ticker EVCM: Too Many Requests. Rate limited. Try after a while.
Error processing ticker EVR: Too Many Requests. Rate limited. Try after a while.

401 Client Error: Unauthorized for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/CALX?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=CALX&crumb=Edge%3A+Too+Many+Requests

Error processing ticker CALX: 'NoneType' object has no attribute 'update'
Processing batch 58/90
Processing batch 59/90
Processing batch 60/90
Processing batch 61/90
Processing batch 62/90
Processing batch 63/90
Processing batch 64/90
Processing batch 65/90
Processing batch 66/90
Processing batch 67/90
Processing batch 68/90
Processing batch 69/90
Processing batch 70/90
Processing batch 71/90

404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/AACT.W?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=AACT.W&crumb=3JMyOGxXE8v

Error processing ticker AACT.W: 'NoneType' object has no attribute 'update'
Processing batch 72/90
Processing batch 73/90
Processing batch 74/90
Error processing ticker SGRP: Too Many Requests. Rate limited. Try after a while.
Error processing ticker ITAN: Too Many Requests. Rate limited. Try after a while.
Processing batch 75/90
Error processing ticker MWA: Too Many Requests. Rate limited. Try after a while.
Error processing ticker MUSA: Too Many Requests. Rate limited. Try after a while.
Error processing ticker MYE: Too Many Requests. Rate limited. Try after a while.
Error processing ticker MYRG: Too Many Requests. Rate limited. Try after a while.
Error processing ticker MYGN: Too Many Requests. Rate limited. Try after a while.
Error processing ticker NBR: Too Many Requests. Rate limited. Try after a while.
Error processing ticker QQQM: Too Many Requests. Rate limited. Try after a while.
Error processing ticker NTRA: Too Many Requests. Rate limited. Try after a while.
Error processing ticker NSI: Too Many Requests. Rate limited. Try after a while.
Error processing ticker NBHC: Too Many Requests. Rate limited. Try after a while.
Error processing ticker FIZZ: Too Many Requests. Rate limited. Try after a while.
Error processing ticker NFG: Too Many Requests. Rate limited. Try after a while.
Error processing ticker IGIC: Too Many Requests. Rate limited. Try after a while.
Error processing ticker NHC: Too Many Requests. Rate limited. Try after a while.
Error processing ticker EYE: Too Many Requests. Rate limited. Try after a while.
Error processing ticker NESR: Too Many Requests. Rate limited. Try after a while.
Error processing ticker NGVC: Too Many Requests. Rate limited. Try after a while.
Error processing ticker AVXL: Too Many Requests. Rate limited. Try after a while.
Error processing ticker NAVI: Too Many Requests. Rate limited. Try after a while.
Error processing ticker NBTB: Too Many Requests. Rate limited. Try after a while.
Processing batch 76/90
Error processing ticker PAC: Too Many Requests. Rate limited. Try after a while.
Error processing ticker FBCG: Too Many Requests. Rate limited. Try after a while.
Error processing ticker FIGB: Too Many Requests. Rate limited. Try after a while.
Error processing ticker FITB: Too Many Requests. Rate limited. Try after a while.
Error processing ticker IFS: Too Many Requests. Rate limited. Try after a while.
Error processing ticker FA: Too Many Requests. Rate limited. Try after a while.
Error processing ticker FAF: Too Many Requests. Rate limited. Try after a while.
Error processing ticker KFFB: Too Many Requests. Rate limited. Try after a while.
Error processing ticker FFIN: Too Many Requests. Rate limited. Try after a while.
Error processing ticker FHB: Too Many Requests. Rate limited. Try after a while.
Error processing ticker FHN: Too Many Requests. Rate limited. Try after a while.
Error processing ticker FRME: Too Many Requests. Rate limited. Try after a while.
Error processing ticker FXNC: Too Many Requests. Rate limited. Try after a while.
Error processing ticker FSLR: Too Many Requests. Rate limited. Try after a while.
Error processing ticker FDT: Too Many Requests. Rate limited. Try after a while.
Error processing ticker FUNC: Too Many Requests. Rate limited. Try after a while.
Error processing ticker FWRG: Too Many Requests. Rate limited. Try after a while.
Error processing ticker FCFS: Too Many Requests. Rate limited. Try after a while.
Error processing ticker FE: Too Many Requests. Rate limited. Try after a while.
Error processing ticker FI: Too Many Requests. Rate limited. Try after a while.
Processing batch 77/90
Error processing ticker FIVE: Too Many Requests. Rate limited. Try after a while.
Error processing ticker FIVN: Too Many Requests. Rate limited. Try after a while.
Error processing ticker FLXS: Too Many Requests. Rate limited. Try after a while.
Error processing ticker FND: Too Many Requests. Rate limited. Try after a while.
Error processing ticker FLS: Too Many Requests. Rate limited. Try after a while.
Error processing ticker FLR: Too Many Requests. Rate limited. Try after a while.
Error processing ticker FLYW: Too Many Requests. Rate limited. Try after a while.
Error processing ticker FMC: Too Many Requests. Rate limited. Try after a while.
Error processing ticker FL: Too Many Requests. Rate limited. Try after a while.
Error processing ticker HUBC: Too Many Requests. Rate limited. Try after a while.
Error processing ticker CYBR: Too Many Requests. Rate limited. Try after a while.
Error processing ticker DHI: Too Many Requests. Rate limited. Try after a while.
Error processing ticker MSFD: Too Many Requests. Rate limited. Try after a while.
Error processing ticker DAKT: Too Many Requests. Rate limited. Try after a while.
Error processing ticker DAN: Too Many Requests. Rate limited. Try after a while.
Error processing ticker DHR: Too Many Requests. Rate limited. Try after a while.
Error processing ticker DAR: Too Many Requests. Rate limited. Try after a while.
Error processing ticker DTST: Too Many Requests. Rate limited. Try after a while.
Error processing ticker DDOG: Too Many Requests. Rate limited. Try after a while.
Error processing ticker PLAY: Too Many Requests. Rate limited. Try after a while.
Processing batch 78/90
Error processing ticker DWSN: Too Many Requests. Rate limited. Try after a while.
Error processing ticker DK: Too Many Requests. Rate limited. Try after a while.
Error processing ticker DELL: Too Many Requests. Rate limited. Try after a while.
Error processing ticker DAL: Too Many Requests. Rate limited. Try after a while.
Error processing ticker DLX: Too Many Requests. Rate limited. Try after a while.
Error processing ticker DENN: Too Many Requests. Rate limited. Try after a while.
Error processing ticker XRAY: Too Many Requests. Rate limited. Try after a while.
Error processing ticker HSCS: Too Many Requests. Rate limited. Try after a while.
Error processing ticker HEI: Too Many Requests. Rate limited. Try after a while.
Error processing ticker HSII: Too Many Requests. Rate limited. Try after a while.
Error processing ticker HELE: Too Many Requests. Rate limited. Try after a while.
Error processing ticker HLIO: Too Many Requests. Rate limited. Try after a while.
Error processing ticker HLX: Too Many Requests. Rate limited. Try after a while.
Error processing ticker HP: Too Many Requests. Rate limited. Try after a while.
Error processing ticker HSIC: Too Many Requests. Rate limited. Try after a while.
Error processing ticker HLF: Too Many Requests. Rate limited. Try after a while.
Error processing ticker HES: Too Many Requests. Rate limited. Try after a while.
Error processing ticker HPE: Too Many Requests. Rate limited. Try after a while.
Error processing ticker HXL: Too Many Requests. Rate limited. Try after a while.
Error processing ticker ORC: Too Many Requests. Rate limited. Try after a while.
Processing batch 79/90
Error processing ticker HI: Too Many Requests. Rate limited. Try after a while.
Error processing ticker HGV: Too Many Requests. Rate limited. Try after a while.
Error processing ticker UMAC: Too Many Requests. Rate limited. Try after a while.
Error processing ticker HNI: Too Many Requests. Rate limited. Try after a while.
Error processing ticker HLLY: Too Many Requests. Rate limited. Try after a while.
Error processing ticker HOLX: Too Many Requests. Rate limited. Try after a while.
Error processing ticker SG: Too Many Requests. Rate limited. Try after a while.
Error processing ticker FXF: Too Many Requests. Rate limited. Try after a while.
Error processing ticker SYNA: Too Many Requests. Rate limited. Try after a while.
Error processing ticker SNPS: Too Many Requests. Rate limited. Try after a while.
Error processing ticker SNV: Too Many Requests. Rate limited. Try after a while.
Error processing ticker SYY: Too Many Requests. Rate limited. Try after a while.
Error processing ticker TMUS: Too Many Requests. Rate limited. Try after a while.
Error processing ticker TCHP: Too Many Requests. Rate limited. Try after a while.
Error processing ticker BABA: Too Many Requests. Rate limited. Try after a while.
Error processing ticker TTWO: Too Many Requests. Rate limited. Try after a while.
Error processing ticker TRGP: Too Many Requests. Rate limited. Try after a while.
Error processing ticker ETQ: Too Many Requests. Rate limited. Try after a while.
Error processing ticker SNX: Too Many Requests. Rate limited. Try after a while.
Error processing ticker FTFT: Too Many Requests. Rate limited. Try after a while.
Processing batch 80/90
Error processing ticker BST: Too Many Requests. Rate limited. Try after a while.
Error processing ticker TTGT: Too Many Requests. Rate limited. Try after a while.
Error processing ticker TDOC: Too Many Requests. Rate limited. Try after a while.
Error processing ticker TFX: Too Many Requests. Rate limited. Try after a while.
Error processing ticker TIXT: Too Many Requests. Rate limited. Try after a while.
Error processing ticker TENB: Too Many Requests. Rate limited. Try after a while.
Error processing ticker TS: Too Many Requests. Rate limited. Try after a while.
Error processing ticker TNC: Too Many Requests. Rate limited. Try after a while.
Error processing ticker OTTR: Too Many Requests. Rate limited. Try after a while.
Error processing ticker OMI: Too Many Requests. Rate limited. Try after a while.
Error processing ticker OC: Too Many Requests. Rate limited. Try after a while.
Error processing ticker OXM: Too Many Requests. Rate limited. Try after a while.
Error processing ticker FOXO: Too Many Requests. Rate limited. Try after a while.
Error processing ticker PCAR: Too Many Requests. Rate limited. Try after a while.
Error processing ticker PPBI: Too Many Requests. Rate limited. Try after a while.
Error processing ticker PKG: Too Many Requests. Rate limited. Try after a while.
Error processing ticker PD: Too Many Requests. Rate limited. Try after a while.
Error processing ticker PLTR: Too Many Requests. Rate limited. Try after a while.
Error processing ticker PANW: Too Many Requests. Rate limited. Try after a while.
Error processing ticker PZZA: Too Many Requests. Rate limited. Try after a while.
Processing batch 81/90
Error processing ticker PARR: Too Many Requests. Rate limited. Try after a while.
Error processing ticker PAR: Too Many Requests. Rate limited. Try after a while.
Error processing ticker UPS: Too Many Requests. Rate limited. Try after a while.
Error processing ticker PRK: Too Many Requests. Rate limited. Try after a while.
Error processing ticker PH: Too Many Requests. Rate limited. Try after a while.
Error processing ticker PRKS: Too Many Requests. Rate limited. Try after a while.
Error processing ticker PSN: Too Many Requests. Rate limited. Try after a while.
Error processing ticker ITDF: Too Many Requests. Rate limited. Try after a while.
Error processing ticker CASH: Too Many Requests. Rate limited. Try after a while.
Error processing ticker CMPS: Too Many Requests. Rate limited. Try after a while.
Error processing ticker PATK: Too Many Requests. Rate limited. Try after a while.
Error processing ticker PDCO: Too Many Requests. Rate limited. Try after a while.
Error processing ticker PTEN: Too Many Requests. Rate limited. Try after a while.
Error processing ticker PAYX: Too Many Requests. Rate limited. Try after a while.
Error processing ticker PAYC: Too Many Requests. Rate limited. Try after a while.
Error processing ticker PCTY: Too Many Requests. Rate limited. Try after a while.
Error processing ticker PAYO: Too Many Requests. Rate limited. Try after a while.
Error processing ticker PYPL: Too Many Requests. Rate limited. Try after a while.
Error processing ticker PBF: Too Many Requests. Rate limited. Try after a while.
Error processing ticker OFG: Too Many Requests. Rate limited. Try after a while.
Processing batch 82/90
Error processing ticker OCCI: Too Many Requests. Rate limited. Try after a while.
Error processing ticker OGE: Too Many Requests. Rate limited. Try after a while.
Error processing ticker OKTA: Too Many Requests. Rate limited. Try after a while.
Error processing ticker ODFL: Too Many Requests. Rate limited. Try after a while.
Error processing ticker ORI: Too Many Requests. Rate limited. Try after a while.
Error processing ticker UGA: Too Many Requests. Rate limited. Try after a while.
Error processing ticker OLLI: Too Many Requests. Rate limited. Try after a while.
Error processing ticker TAP: Too Many Requests. Rate limited. Try after a while.
Error processing ticker ZEUS: Too Many Requests. Rate limited. Try after a while.
Error processing ticker YXT: Too Many Requests. Rate limited. Try after a while.
Error processing ticker OMCL: Too Many Requests. Rate limited. Try after a while.
Error processing ticker OMC: Too Many Requests. Rate limited. Try after a while.
Error processing ticker OGS: Too Many Requests. Rate limited. Try after a while.
Error processing ticker LAND: Too Many Requests. Rate limited. Try after a while.
Error processing ticker NMTC: Too Many Requests. Rate limited. Try after a while.
Error processing ticker OKE: Too Many Requests. Rate limited. Try after a while.
Error processing ticker ONEW: Too Many Requests. Rate limited. Try after a while.
Error processing ticker TNXP: Too Many Requests. Rate limited. Try after a while.
Error processing ticker VNRX: Too Many Requests. Rate limited. Try after a while.
Error processing ticker ONTO: Too Many Requests. Rate limited. Try after a while.
Processing batch 83/90
Error processing ticker OPEN: Too Many Requests. Rate limited. Try after a while.
Error processing ticker OPRT: Too Many Requests. Rate limited. Try after a while.
Error processing ticker OPCH: Too Many Requests. Rate limited. Try after a while.
Error processing ticker OSCV: Too Many Requests. Rate limited. Try after a while.
Error processing ticker ORCL: Too Many Requests. Rate limited. Try after a while.
Error processing ticker OEC: Too Many Requests. Rate limited. Try after a while.

401 Client Error: Unauthorized for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/ORN?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=ORN&crumb=Edge%3A+Too+Many+Requests

Error processing ticker ORN: 'NoneType' object has no attribute 'update'
Processing batch 84/90
Processing batch 85/90
Processing batch 86/90
Processing batch 87/90
Processing batch 88/90
Processing batch 89/90
Processing batch 90/90
Enhanced dataset has 19 columns and 2007 rows
Data saved to enhanced_company_data.csv

In [11]:
en_df.tail()

,ID,INDUSTRY,COMPANY_NAME,SIZE,FOUNDED,REGION,COUNTRY,LOCALITY,WEBSITE,LINKEDIN_URL,COMPANY_AGE,SIZE_CATAGORY,PERFORMANCE_CATEGORY,PERFORMANCE_SCORE,T_SYMBOL,current_price,market_cap,yearly_return,volatility
2002,9ThdbBO1CPzgl4CCs2uwRQU9DIH5,entertainment,roku inc.,1001-5000,2002,california,united states,san jose,roku.com,linkedin.com/company/roku,23,large,Steady Performer,99.0,ROKU,58.459999,8.531886e+09,-0.391889,60.906372
2003,PjZeL0lwqfBy3Mdz9JAWZwOOwIsb,consumer services,"rollins, inc.",10001+,1948,georgia,united states,atlanta,rollins.com,linkedin.com/company/rollins-inc.,77,large,Developing,60.0,ROL,55.779999,2.705754e+10,33.129381,22.339347
2004,O9KpsdPIquEYFfiVHJOgBQOrd6QS,insurance,root inc.,1001-5000,2015,ohio,united states,columbus,root.com,linkedin.com/company/rootinsurance,10,large,Steady Performer,93.5,ROOT,129.740005,1.972048e+09,152.265224,110.907070
2005,ePKif3bzXcOYABNSCwtZcAGLoUse,mechanical or industrial engineering,"roper technologies, inc.",10001+,1981,florida,united states,sarasota,ropertech.com,linkedin.com/company/roper-industries,44,large,Developing,66.0,ROP,557.239990,5.983922e+10,6.294555,21.307624
2006,Qhk28SodybHScQJ97BfuYwJUbTS0,retail,"ross stores, inc.",10001+,1982,california,united states,dublin,rossstores.com,linkedin.com/company/ross-stores,43,large,Developing,72.0,ROST,139.630005,4.591509e+10,7.067430,24.694364

In [12]:
save_df_to_snowflake(en_df)

Connected to Snowflake successfully!
Table OPPORTUNITY_ANALYSIS.MARKET_ANALYSIS.LARGE_COMPANY_DATA_FINAL created or replaced.
✅ Successfully inserted 2007 rows into OPPORTUNITY_ANALYSIS.MARKET_ANALYSIS.LARGE_COMPANY_DATA_FINAL

In [ ]:
import pandas as pd
import finnhub

#list of available exchanges

df=pd.read_html("https://docs.google.com/spreadsheets/d/1I3pBxjfXB056-g_JYf_6o3Rns3BV2kMGG1nCatb91ls/edit#gid=0")
df1=df[0]
exc=df1.loc[:,"A"].dropna()

exclist=[]
for i in exc:
    exclist.append(str(i))
exclist=exclist[1:] #take out "name" from the list

#retrieve tickers from every exchange available
tickers=[]
finnhub_client = finnhub.Client(api_key="c46qn9iad3iagvmhdk7g")
for exchange in exclist:
    listofdicts=finnhub_client.stock_symbols(exchange)
    for dicts in listofdicts:
        tickers.append(dicts['symbol'])

print("You just got a list of %s tickers worldwide." % len(tickers), tickers)

In [2]:
import time
import pandas as pd
import yfinance as yf
from get_all_tickers.get_tickers import get_tickers

tickers_list = get_tickers()

tickers_list = tickers_list[:50]

# Initialize an empty list to store the data.
data = []

for ticker in tickers_list:
    try:
        stock = yf.Ticker(ticker)
        info = stock.info  # Retrieve the info dictionary from yfinance
        
        # Extract the company name and market capitalization.
        company_name = info.get('longName', 'N/A')
        market_cap = info.get('marketCap', 'N/A')
        
        # Append the data as a dictionary.
        data.append({
            'Ticker': ticker,
            'Company Name': company_name,
            'Market Cap': market_cap
        })
        
        # Pause briefly to respect rate limits.
        time.sleep(0.1)
    except Exception as e:
        print(f"Error retrieving data for {ticker}: {e}")
        continue

# Create a DataFrame from the list of dictionaries.

c:\Users\yohan\anaconda3\envs\final_proj_1\Lib\site-packages\get_all_tickers\get_tickers.py:95: SyntaxWarning: invalid escape sequence '\.'
  df = df[~df['Symbol'].str.contains("\.|\^")]
c:\Users\yohan\anaconda3\envs\final_proj_1\Lib\site-packages\get_all_tickers\get_tickers.py:140: SyntaxWarning: invalid escape sequence '\.'
  df_filtered = df[~df['Symbol'].str.contains("\.|\^")]
c:\Users\yohan\anaconda3\envs\final_proj_1\Lib\site-packages\get_all_tickers\get_tickers.py:147: SyntaxWarning: invalid escape sequence '\.'
  df = df[~df['Symbol'].str.contains("\.|\^")]

ParserError: Error tokenizing data. C error: Expected 1 fields in line 9, saw 2

In [3]:
from pytickersymbols import PyTickerSymbols

stock_data = PyTickerSymbols()
german_stocks = stock_data.get_stocks_by_index('DAX')
uk_stocks = stock_data.get_stocks_by_index('FTSE 100')

print(list(uk_stocks))

[{'name': '3i Group PLC', 'symbol': 'III', 'country': 'United Kingdom', 'indices': ['FTSE 100'], 'industries': ['Banking & Investment Services', 'Investment Banking & Investment Services', 'Financials', 'Investment Management & Fund Operators'], 'symbols': [{'yahoo': 'IGQ5.F', 'google': 'FRA:IGQ5', 'currency': 'EUR'}, {'yahoo': 'TGOPY', 'google': 'OTCMKTS:TGOPY', 'currency': 'USD'}, {'yahoo': 'III.L', 'google': 'LON:III', 'currency': 'GBP'}, {'yahoo': 'IGQ.F', 'google': 'FRA:IGQ', 'currency': 'EUR'}, {'yahoo': 'TGOPF', 'google': 'OTCMKTS:TGOPF', 'currency': 'USD'}], 'metadata': {'founded': 1945, 'employees': 244}, 'isins': ['GB00B1YW4409'], 'akas': []}, {'name': 'Admiral Group PLC', 'symbol': 'ADM', 'country': 'United Kingdom', 'indices': ['FTSE 100'], 'industries': ['Insurance', 'Property & Casualty Insurance', 'Financials'], 'symbols': [{'yahoo': 'FLN.F', 'google': 'FRA:FLN', 'currency': 'EUR'}, {'yahoo': 'ADM.L', 'google': 'LON:ADM', 'currency': 'GBP'}, {'yahoo': 'AMIGY', 'google': 'OTCMKTS:AMIGY', 'currency': 'USD'}, {'yahoo': 'AMIGF', 'google': 'OTCMKTS:AMIGF', 'currency': 'USD'}], 'metadata': {'founded': 1991, 'employees': 3000}, 'isins': ['GB00B02J6398'], 'akas': []}, {'name': 'Anglo American PLC', 'symbol': 'AAL', 'country': 'United Kingdom', 'indices': ['FTSE 100'], 'industries': ['Metals & Mining', 'Mineral Resources', 'Basic Materials', 'Integrated Mining'], 'symbols': [{'yahoo': 'NGLD.F', 'google': 'FRA:NGLD', 'currency': 'EUR'}, {'yahoo': 'AGPPF', 'google': 'OTCMKTS:AGPPF', 'currency': 'USD'}, {'yahoo': 'NGLOY', 'google': 'OTCMKTS:NGLOY', 'currency': 'USD'}, {'yahoo': 'NGLB.F', 'google': 'FRA:NGLB', 'currency': 'EUR'}, {'yahoo': 'AAL.L', 'google': 'LON:AAL', 'currency': 'GBP'}], 'metadata': {'founded': 1917, 'employees': 90000}, 'isins': ['GB00B1XZS820'], 'akas': []}, {'name': 'Antofagasta PLC', 'symbol': 'ANTO', 'country': 'United Kingdom', 'indices': ['FTSE 100'], 'industries': ['Metals & Mining', 'Mineral Resources', 'Specialty Mining & Metals', 'Basic Materials'], 'symbols': [{'yahoo': 'FG1.F', 'google': 'FRA:FG1', 'currency': 'EUR'}, {'yahoo': 'ANFGF', 'google': 'OTCMKTS:ANFGF', 'currency': 'USD'}, {'yahoo': 'ANTO.L', 'google': 'LON:ANTO', 'currency': 'GBP'}], 'metadata': {'founded': 1888, 'employees': 5427}, 'isins': ['GB0000456144'], 'akas': []}, {'name': 'Ashtead Group PLC', 'symbol': 'AHT', 'country': 'United Kingdom', 'indices': ['FTSE 100'], 'industries': ['Business Support Services', 'Industrials', 'Professional & Commercial Services', 'Industrial & Commercial Services'], 'symbols': [{'yahoo': 'AHT.F', 'google': 'FRA:AHT', 'currency': 'EUR'}, {'yahoo': 'AHT', 'google': 'OTCMKTS:AHT', 'currency': 'USD'}, {'yahoo': '0LC.F', 'google': 'FRA:0LC', 'currency': 'EUR'}, {'yahoo': 'AHT.L', 'google': 'LON:AHT', 'currency': 'GBP'}, {'yahoo': 'ASHTY', 'google': 'OTCMKTS:ASHTY', 'currency': 'USD'}, {'yahoo': 'ASHTF', 'google': 'OTCMKTS:ASHTF', 'currency': 'USD'}, {'yahoo': '0LCA.F', 'google': 'FRA:0LCA', 'currency': 'EUR'}], 'metadata': {'founded': 1947, 'employees': 13233}, 'isins': ['GB0000536739'], 'akas': []}, {'name': 'Associated British Foods PLC', 'symbol': 'ABF', 'country': 'United Kingdom', 'indices': ['FTSE 100'], 'industries': ['Food & Beverages', 'Consumer Non-Cyclicals', 'Food Processing', 'Food & Tobacco'], 'symbols': [{'yahoo': 'ABF.F', 'google': 'FRA:ABF', 'currency': 'EUR'}, {'yahoo': 'ABF', 'google': 'OTCMKTS:ABF', 'currency': 'USD'}, {'yahoo': 'AFO1.F', 'google': 'FRA:AFO1', 'currency': 'EUR'}, {'yahoo': 'ABF.L', 'google': 'LON:ABF', 'currency': 'GBP'}, {'yahoo': 'ASBFY', 'google': 'OTCMKTS:ASBFY', 'currency': 'USD'}, {'yahoo': 'AFO2.F', 'google': 'FRA:AFO2', 'currency': 'EUR'}, {'yahoo': 'ASBFF', 'google': 'OTCMKTS:ASBFF', 'currency': 'USD'}], 'metadata': {'founded': 1935, 'employees': 133000}, 'isins': ['GB0006731235'], 'akas': []}, {'name': 'AstraZeneca PLC', 'symbol': 'AZN', 'country': 'United Kingdom', 'indices': ['FTSE 100', 'NASDAQ 100', 'OMX Stockholm 30'], 'industries': ['Pharmaceuticals', 'Pharmaceuticals & Medical Research', 'Healthcare'], 'symbols': [{'yahoo': 'ZEG.F', 'google': 'FRA:ZEG', 'currency': 'EUR'}, {'yahoo': 'AZN', 'google': 'NYSE:AZN', 'currency': 'USD'}, {'yahoo': 'ZEGA.F', 'google': 'FRA:ZEGA', 'currency': 'EUR'}, {'yahoo': 'AZNCF', 'google': 'OTCMKTS:AZNCF', 'currency': 'USD'}, {'yahoo': 'AZN.L', 'google': 'LON:AZN', 'currency': 'GBP'}], 'metadata': {'founded': 1999, 'employees': 76100}, 'isins': ['GB0009895292'], 'akas': []}, {'name': 'Auto Trader Group PLC', 'symbol': 'AUTO', 'country': 'United Kingdom', 'indices': ['FTSE 100'], 'industries': ['Technology', 'Software & IT Services', 'Internet Services'], 'symbols': [{'yahoo': 'AUTO.F', 'google': 'FRA:AUTO', 'currency': 'EUR'}, {'yahoo': 'AUTO', 'google': 'OTCMKTS:AUTO', 'currency': 'USD'}, {'yahoo': 'ATDRY', 'google': 'OTCMKTS:ATDRY', 'currency': 'USD'}, {'yahoo': 'AUTO.L', 'google': 'LON:AUTO', 'currency': 'GBP'}, {'yahoo': '2UA.F', 'google': 'FRA:2UA', 'currency': 'EUR'}, {'yahoo': '2UA0.F', 'google': 'FRA:2UA0', 'currency': 'EUR'}, {'yahoo': 'ATDRF', 'google': 'OTCMKTS:ATDRF', 'currency': 'USD'}], 'metadata': {'founded': 1975, 'employees': ''}, 'isins': ['GB00BVYVFW23'], 'akas': []}, {'name': 'Aviva PLC', 'symbol': 'AV.', 'country': 'United Kingdom', 'indices': ['FTSE 100'], 'industries': ['Insurance', 'Financials', 'Life & Health Insurance'], 'symbols': [{'yahoo': '5V51.F', 'google': 'FRA:5V51', 'currency': 'EUR'}, {'yahoo': 'AVVIY', 'google': 'OTCMKTS:AVVIY', 'currency': 'USD'}, {'yahoo': 'GU8E.F', 'google': 'FRA:GU8E', 'currency': 'EUR'}, {'yahoo': 'AV.L', 'google': 'LON:AV', 'currency': 'GBP'}, {'yahoo': 'GU8.F', 'google': 'FRA:GU8', 'currency': 'EUR'}, {'yahoo': 'GU81.F', 'google': 'FRA:GU81', 'currency': 'EUR'}, {'yahoo': 'GU80.F', 'google': 'FRA:GU80', 'currency': 'EUR'}], 'metadata': {'founded': 2000, 'employees': 31000}, 'isins': [], 'akas': []}, {'name': 'BAE Systems PLC', 'symbol': 'BA.', 'country': 'United Kingdom', 'indices': ['FTSE 100'], 'industries': ['Industrial Goods', 'Industrials', 'Aerospace & Defense'], 'symbols': [{'yahoo': 'BSP.F', 'google': 'FRA:BSP', 'currency': 'EUR'}, {'yahoo': 'BAESY', 'google': 'OTCMKTS:BAESY', 'currency': 'USD'}, {'yahoo': 'BA.L', 'google': 'LON:BA', 'currency': 'GBP'}, {'yahoo': 'BSPA.F', 'google': 'FRA:BSPA', 'currency': 'EUR'}], 'metadata': {'founded': 1999, 'employees': 85800}, 'isins': [], 'akas': []}, {'name': 'Barclays PLC', 'symbol': 'BARC', 'country': 'United Kingdom', 'indices': ['FTSE 100'], 'industries': ['Banking & Investment Services', 'Banking Services', 'Financials', 'Banks'], 'symbols': [{'yahoo': 'BCY2.F', 'google': 'FRA:BCY2', 'currency': 'EUR'}, {'yahoo': 'INPTF', 'google': 'OTCMKTS:INPTF', 'currency': 'USD'}, {'yahoo': 'BARC.L', 'google': 'LON:BARC', 'currency': 'GBP'}, {'yahoo': 'BCS', 'google': 'NYSE:BCS', 'currency': 'USD'}, {'yahoo': 'BCY.F', 'google': 'FRA:BCY', 'currency': 'EUR'}, {'yahoo': 'BCLYF', 'google': 'OTCMKTS:BCLYF', 'currency': 'USD'}], 'metadata': {'founded': 1690, 'employees': 83500}, 'isins': ['GB0031348658'], 'akas': []}, {'name': 'Barratt Developments PLC', 'symbol': 'BDEV', 'country': 'United Kingdom', 'indices': ['FTSE 100'], 'industries': ['Cyclical Consumer Products', 'Homebuilding', 'Homebuilding / Household Goods', 'Consumer Cyclicals'], 'symbols': [{'yahoo': 'BDEV.F', 'google': 'FRA:BDEV', 'currency': 'EUR'}, {'yahoo': 'BDEV', 'google': 'OTCMKTS:BDEV', 'currency': 'USD'}, {'yahoo': '3BA.F', 'google': 'FRA:3BA', 'currency': 'EUR'}, {'yahoo': 'BTDPY', 'google': 'OTCMKTS:BTDPY', 'currency': 'USD'}, {'yahoo': 'BDEV.L', 'google': 'LON:BDEV', 'currency': 'GBP'}, {'yahoo': '3BAA.F', 'google': 'FRA:3BAA', 'currency': 'EUR'}, {'yahoo': 'BTDPF', 'google': 'OTCMKTS:BTDPF', 'currency': 'USD'}], 'metadata': {'founded': 1958, 'employees': 6655}, 'isins': ['GB0000811801'], 'akas': []}, {'name': 'Berkeley Group Holdings/The', 'symbol': 'BKG', 'country': 'United Kingdom', 'indices': ['FTSE 100'], 'industries': ['Cyclical Consumer Products', 'Homebuilding', 'Homebuilding / Household Goods', 'Consumer Cyclicals'], 'symbols': [{'yahoo': 'BKG.F', 'google': 'FRA:BKG', 'currency': 'EUR'}, {'yahoo': 'BKG', 'google': 'OTCMKTS:BKG', 'currency': 'USD'}, {'yahoo': 'BKGFF', 'google': 'OTCMKTS:BKGFF', 'currency': 'USD'}, {'yahoo': '42BA.F', 'google': 'FRA:42BA', 'currency': 'EUR'}, {'yahoo': 'BKG.L', 'google': 'LON:BKG', 'currency': 'GBP'}, {'yahoo': 'BKGFY', 'google': 'OTCMKTS:BKGFY', 'currency': 'USD'}, {'yahoo': '42BB.F', 'google': 'FRA:42BB', 'currency': 'EUR'}], 'metadata': {'founded': 1976, 'employees': 2709}, 'isins': ['GB00BLJNXL82'], 'akas': []}, {'name': 'BP PLC', 'symbol': 'BP.', 'country': 'United Kingdom', 'indices': ['FTSE 100', 'MOEX'], 'industries': ['Energy', 'Fossil Fuels', 'Oil & Gas'], 'symbols': [{'yahoo': 'BSU', 'google': 'FRA:BSU', 'currency': 'USD'}, {'yahoo': 'BP', 'google': 'NYSE:BP', 'currency': 'USD'}, {'yahoo': 'BPE.F', 'google': 'FRA:BPE', 'currency': 'EUR'}, {'yahoo': 'BPAQF', 'google': 'OTCMKTS:BPAQF', 'currency': 'USD'}, {'yahoo': 'BSU.F', 'google': 'FRA:BSU', 'currency': 'EUR'}, {'yahoo': 'BP.L', 'google': 'LON:BP', 'currency': 'GBP'}, {'yahoo': 'BPE5.F', 'google': 'FRA:BPE5', 'currency': 'EUR'}], 'metadata': {'founded': 1909, 'employees': 70100}, 'isins': ['GB0007980591'], 'akas': []}, {'name': 'British American Tobacco p.l.c.', 'symbol': 'BATS', 'country': 'United Kingdom', 'indices': ['FTSE 100'], 'industries': ['Food & Beverages', 'Consumer Non-Cyclicals', 'Tobacco', 'Food & Tobacco'], 'symbols': [{'yahoo': 'BATS.F', 'google': 'FRA:BATS', 'currency': 'EUR'}, {'yahoo': 'BTAFF', 'google': 'OTCMKTS:BTAFF', 'currency': 'USD'}, {'yahoo': 'BMT.F', 'google': 'FRA:BMT', 'currency': 'EUR'}, {'yahoo': 'BTI', 'google': 'NYSE:BTI', 'currency': 'USD'}, {'yahoo': 'BATS.L', 'google': 'LON:BATS', 'currency': 'GBP'}, {'yahoo': 'BMTA.F', 'google': 'FRA:BMTA', 'currency': 'EUR'}], 'metadata': {'founded': 1902, 'employees': 55000}, 'isins': ['GB0002875804'], 'akas': []}, {'name': 'British Land Company PLC', 'symbol': 'BLND', 'country': 'United Kingdom', 'indices': ['FTSE 100'], 'industries': ['Commercial REITs', 'Real Estate', 'Financials', 'Residential & Commercial RETIs'], 'symbols': [{'yahoo': 'BLDA.F', 'google': 'FRA:BLDA', 'currency': 'EUR'}, {'yahoo': 'BTLCY', 'google': 'OTCMKTS:BTLCY', 'currency': 'USD'}, {'yahoo': 'BLND.L', 'google': 'LON:BLND', 'currency': 'GBP'}, {'yahoo': 'BLD.F', 'google': 'FRA:BLD', 'currency': 'EUR'}, {'yahoo': 'BRLAF', 'google': 'OTCMKTS:BRLAF', 'currency': 'USD'}], 'metadata': {'founded': 1856, 'employees': 783}, 'isins': ['GB0001367019'], 'akas': []}, {'name': 'BT Group PLC', 'symbol': 'BT.A', 'country': 'United Kingdom', 'indices': ['FTSE 100'], 'industries': ['Telecommunications Services', 'Integrated Telecommunications Services'], 'symbols': [{'yahoo': 'BTQ.F', 'google': 'FRA:BTQ', 'currency': 'EUR'}, {'yahoo': 'BT', 'google': 'NYSE:BT', 'currency': 'USD'}, {'yahoo': 'BTGOF', 'google': 'OTCMKTS:BTGOF', 'currency': 'USD'}, {'yahoo': 'BT-A.L', 'google': 'LON:BT-A', 'currency': 'GBP'}], 'metadata': {'founded': 1846, 'employees': 105300}, 'isins': [], 'akas': []}, {'name': 'Bunzl PLC', 'symbol': 'BNZL', 'country': 'United Kingdom', 'indices': ['FTSE 100'], 'industries': ['Industrials', 'Diversified Trading & Distributing', 'Industrial & Commercial Services'], 'symbols': [{'yahoo': 'BUZ1.F', 'google': 'FRA:BUZ1', 'currency': 'EUR'}, {'yahoo': 'BZLFF', 'google': 'OTCMKTS:BZLFF', 'currency': 'USD'}, {'yahoo': 'BNZL.L', 'google': 'LON:BNZL', 'currency': 'GBP'}, {'yahoo': 'BZLFY', 'google': 'OTCMKTS:BZLFY', 'currency': 'USD'}, {'yahoo': 'BUZ.F', 'google': 'FRA:BUZ', 'currency': 'EUR'}], 'metadata': {'founded': 1854, 'employees': 19006}, 'isins': ['GB00B0744B38'], 'akas': []}, {'name': 'Burberry Group PLC', 'symbol': 'BRBY', 'country': 'United Kingdom', 'indices': ['FTSE 100'], 'industries': ['Retailers', 'Apparel & Accessories Retailers', 'Specialty Retailers', 'Consumer Cyclicals'], 'symbols': [{'yahoo': 'BB2.F', 'google': 'FRA:BB2', 'currency': 'EUR'}, {'yahoo': 'BURBY', 'google': 'OTCMKTS:BURBY', 'currency': 'USD'}, {'yahoo': 'BRBY.L', 'google': 'LON:BRBY', 'currency': 'GBP'}, {'yahoo': 'BB2A.F', 'google': 'FRA:BB2A', 'currency': 'EUR'}], 'metadata': {'founded': 1856, 'employees': 9892}, 'isins': ['GB0031743007'], 'akas': []}, {'name': 'Centrica PLC', 'symbol': 'CNA', 'country': 'United Kingdom', 'indices': ['FTSE 100'], 'industries': ['Multiline Utilities', 'Utilities'], 'symbols': [{'yahoo': 'CENB.F', 'google': 'FRA:CENB', 'currency': 'EUR'}, {'yahoo': 'CPYYY', 'google': 'OTCMKTS:CPYYY', 'currency': 'USD'}, {'yahoo': 'CNA.L', 'google': 'LON:CNA', 'currency': 'GBP'}, {'yahoo': 'CENN.F', 'google': 'FRA:CENN', 'currency': 'EUR'}, {'yahoo': 'CPYYF', 'google': 'OTCMKTS:CPYYF', 'currency': 'USD'}], 'metadata': {'founded': 1997, 'employees': 'unknown'}, 'isins': ['GB00B033F229'], 'akas': []}, {'name': 'Coca-Cola HBC AG', 'symbol': 'CCH', 'country': 'Switzerland', 'indices': ['FTSE 100'], 'industries': ['Food & Beverages', 'Consumer Non-Cyclicals', 'Beverages', 'Non-Alcoholic Beverages'], 'symbols': [{'yahoo': 'CCKC.F', 'google': 'FRA:CCKC', 'currency': 'EUR'}, {'yahoo': 'CCHGY', 'google': 'OTCMKTS:CCHGY', 'currency': 'USD'}, {'yahoo': 'CCH.L', 'google': 'LON:CCH', 'currency': 'GBP'}, {'yahoo': 'C0Q.F', 'google': 'FRA:C0Q', 'currency': 'EUR'}, {'yahoo': 'CCHBF', 'google': 'OTCMKTS:CCHBF', 'currency': 'USD'}], 'metadata': {'founded': 1969, 'employees': 38}, 'isins': ['CH0198251305'], 'akas': []}, {'name': 'Compass Group PLC', 'symbol': 'CPG', 'country': 'United Kingdom', 'indices': ['FTSE 100'], 'industries': ['Hotels & Entertainment Services', 'Restaurants & Bars', 'Cyclical Consumer Services', 'Consumer Cyclicals'], 'symbols': [{'yahoo': 'XGR2.F', 'google': 'FRA:XGR2', 'currency': 'EUR'}, {'yahoo': 'CMPGY', 'google': 'OTCMKTS:CMPGY', 'currency': 'USD'}, {'yahoo': 'CPG.L', 'google': 'LON:CPG', 'currency': 'GBP'}, {'yahoo': 'XGR.F', 'google': 'FRA:XGR', 'currency': 'EUR'}, {'yahoo': 'CMPGF', 'google': 'OTCMKTS:CMPGF', 'currency': 'USD'}], 'metadata': {'founded': 1941, 'employees': 548143}, 'isins': ['GB00BD6K4575'], 'akas': []}, {'name': 'CRH PLC', 'symbol': 'CRH', 'country': 'Ireland', 'indices': ['EURO STOXX 50', 'FTSE 100'], 'industries': ['Construction Materials', 'Mineral Resources', 'Basic Materials'], 'symbols': [{'yahoo': 'CRG.F', 'google': 'FRA:CRG', 'currency': 'EUR'}, {'yahoo': 'CRH', 'google': 'NYSE:CRH', 'currency': 'USD'}, {'yahoo': 'CRHCF', 'google': 'OTCMKTS:CRHCF', 'currency': 'USD'}, {'yahoo': 'XCRA.F', 'google': 'FRA:XCRA', 'currency': 'EUR'}, {'yahoo': 'CRH.L', 'google': 'LON:CRH', 'currency': 'GBP'}], 'metadata': {'founded': 1936, 'employees': 79200}, 'isins': ['IE0001827041'], 'akas': []}, {'name': 'Croda International PLC', 'symbol': 'CRDA', 'country': 'United Kingdom', 'indices': ['FTSE 100'], 'industries': ['Specialty Chemicals', 'Basic Materials', 'Chemicals'], 'symbols': [{'yahoo': '6CMB.F', 'google': 'FRA:6CMB', 'currency': 'EUR'}, {'yahoo': 'COIHF', 'google': 'OTCMKTS:COIHF', 'currency': 'USD'}, {'yahoo': 'COIHY', 'google': 'OTCMKTS:COIHY', 'currency': 'USD'}, {'yahoo': 'CRDA.L', 'google': 'LON:CRDA', 'currency': 'GBP'}], 'metadata': {'founded': 1925, 'employees': 4000}, 'isins': ['GB00BJFFLV09'], 'akas': []}, {'name': 'DCC PLC', 'symbol': 'DCC', 'country': 'Ireland', 'indices': ['FTSE 100'], 'industries': ['Energy', 'Fossil Fuels', 'Oil & Gas'], 'symbols': [{'yahoo': 'DCC.F', 'google': 'FRA:DCC', 'currency': 'EUR'}, {'yahoo': 'DCCPF', 'google': 'OTCMKTS:DCCPF', 'currency': 'USD'}, {'yahoo': 'DCC.L', 'google': 'LON:DCC', 'currency': 'GBP'}], 'metadata': {'founded': 1976, 'employees': 12773}, 'isins': ['IE0002424939'], 'akas': []}, {'name': 'Diageo PLC', 'symbol': 'DGE', 'country': 'United Kingdom', 'indices': ['FTSE 100'], 'industries': ['Food & Beverages', 'Consumer Non-Cyclicals', 'Beverages', 'Distillers & Wineries'], 'symbols': [{'yahoo': 'GUIA.F', 'google': 'FRA:GUIA', 'currency': 'EUR'}, {'yahoo': 'DEO', 'google': 'NYSE:DEO', 'currency': 'USD'}, {'yahoo': 'DGE.L', 'google': 'LON:DGE', 'currency': 'GBP'}, {'yahoo': 'GUI.F', 'google': 'FRA:GUI', 'currency': 'EUR'}, {'yahoo': 'DGEAF', 'google': 'OTCMKTS:DGEAF', 'currency': 'USD'}], 'metadata': {'founded': 1997, 'employees': 27775}, 'isins': ['GB0002374006'], 'akas': []}, {'name': 'DS Smith PLC', 'symbol': 'SMDS', 'country': 'United Kingdom', 'indices': ['FTSE 100'], 'industries': ['Paper Packaging', 'Basic Materials', 'Containers & Packaging', 'Applied Resources'], 'symbols': [{'yahoo': '1KR.F', 'google': 'FRA:1KR', 'currency': 'EUR'}, {'yahoo': 'DITHF', 'google': 'OTCMKTS:DITHF', 'currency': 'USD'}, {'yahoo': 'SMDS.L', 'google': 'LON:SMDS', 'currency': 'GBP'}], 'metadata': {'founded': 1940, 'employees': 29397}, 'isins': ['GB0008220112'], 'akas': []}, {'name': 'Experian PLC', 'symbol': 'EXPN', 'country': 'Ireland', 'indices': ['FTSE 100'], 'industries': ['Professional Information Services', 'Industrials', 'Professional & Commercial Services', 'Industrial & Commercial Services'], 'symbols': [{'yahoo': 'J2B.F', 'google': 'FRA:J2B', 'currency': 'EUR'}, {'yahoo': 'EXPGY', 'google': 'OTCMKTS:EXPGY', 'currency': 'USD'}, {'yahoo': 'EXPN.L', 'google': 'LON:EXPN', 'currency': 'GBP'}, {'yahoo': 'EXPGF', 'google': 'OTCMKTS:EXPGF', 'currency': 'USD'}, {'yahoo': 'J2BA.F', 'google': 'FRA:J2BA', 'currency': 'EUR'}], 'metadata': {'founded': 1996, 'employees': 17800}, 'isins': ['GB00B19NLV48'], 'akas': []}, {'name': 'Fresnillo PLC', 'symbol': 'FRES', 'country': 'Mexico', 'indices': ['FTSE 100'], 'industries': ['Metals & Mining', 'Mineral Resources', 'Basic Materials', 'Integrated Mining'], 'symbols': [{'yahoo': 'FNL.F', 'google': 'FRA:FNL', 'currency': 'EUR'}, {'yahoo': 'FNLPF', 'google': 'OTCMKTS:FNLPF', 'currency': 'USD'}, {'yahoo': 'FRES.L', 'google': 'LON:FRES', 'currency': 'GBP'}], 'metadata': {'founded': 2008, 'employees': 3830}, 'isins': ['GB00B2QPKJ12'], 'akas': []}, {'name': 'GlaxoSmithKline PLC', 'symbol': 'GSK', 'country': 'United Kingdom', 'indices': ['FTSE 100'], 'industries': ['Pharmaceuticals', 'Pharmaceuticals & Medical Research', 'Healthcare'], 'symbols': [{'yahoo': 'GS7A.F', 'google': 'FRA:GS7A', 'currency': 'EUR'}, {'yahoo': 'GSK', 'google': 'NYSE:GSK', 'currency': 'USD'}, {'yahoo': 'GLAXF', 'google': 'OTCMKTS:GLAXF', 'currency': 'USD'}, {'yahoo': 'GS7.F', 'google': 'FRA:GS7', 'currency': 'EUR'}, {'yahoo': 'GSK.L', 'google': 'LON:GSK', 'currency': 'GBP'}, {'yahoo': 'GS70.F', 'google': 'FRA:GS70', 'currency': 'EUR'}, {'yahoo': 'GS71.F', 'google': 'FRA:GS71', 'currency': 'EUR'}], 'metadata': {'founded': 2000, 'employees': 99000}, 'isins': ['GB0009252882', 'GB00BN7SWP63'], 'akas': []}, {'name': 'Glencore PLC', 'symbol': 'GLEN', 'country': 'Switzerland', 'indices': ['FTSE 100'], 'industries': ['Energy', 'Fossil Fuels', 'Coal'], 'symbols': [{'yahoo': '8GCA.F', 'google': 'FRA:8GCA', 'currency': 'EUR'}, {'yahoo': 'GLNCY', 'google': 'OTCMKTS:GLNCY', 'currency': 'USD'}, {'yahoo': 'GLEN.L', 'google': 'LON:GLEN', 'currency': 'GBP'}, {'yahoo': '8GC.F', 'google': 'FRA:8GC', 'currency': 'EUR'}], 'metadata': {'founded': 1974, 'employees': 145000}, 'isins': ['JE00B4T3BW64'], 'akas': []}, {'name': 'Halma PLC', 'symbol': 'HLMA', 'country': 'United Kingdom', 'indices': ['FTSE 100'], 'industries': ['Industrial Goods', 'Industrials', 'Machinery, Equipment & Components', 'Electrical Components & Equipment'], 'symbols': [{'yahoo': 'H11.F', 'google': 'FRA:H11', 'currency': 'EUR'}, {'yahoo': 'HLMAF', 'google': 'OTCMKTS:HLMAF', 'currency': 'USD'}, {'yahoo': 'HLMA.L', 'google': 'LON:HLMA', 'currency': 'GBP'}, {'yahoo': 'HALMY', 'google': 'OTCMKTS:HALMY', 'currency': 'USD'}], 'metadata': {'founded': 1894, 'employees': 6341}, 'isins': ['GB0004052071'], 'akas': []}, {'name': 'Hargreaves Lansdown PLC', 'symbol': 'HL.', 'country': 'United Kingdom', 'indices': ['FTSE 100'], 'industries': ['Banking & Investment Services', 'Investment Banking & Investment Services', 'Financials', 'Investment Management & Fund Operators'], 'symbols': [{'yahoo': '

In [5]:
from pytickersymbols import PyTickerSymbols

# Initialize the PyTickerSymbols object
stock_data = PyTickerSymbols()

# Retrieve stocks for each index
sp500_stocks = list(stock_data.get_stocks_by_index('S&P 500'))
dowjones_stocks = list(stock_data.get_stocks_by_index('DOW JONES'))
nasdaq100_stocks = list(stock_data.get_stocks_by_index('NASDAQ 100'))

# Combine all stocks into a single list
us_stocks = sp500_stocks + dowjones_stocks + nasdaq100_stocks

# Extract unique ticker symbols
tickers = list({stock['symbol'] for stock in us_stocks})

In [35]:
import ftplib
import pandas as pd
from io import StringIO

def fetch_us_listed_tickers():
    ftp = ftplib.FTP('ftp.nasdaqtrader.com')
    ftp.login()
    ftp.encoding = 'utf-8'
    ftp.cwd('SymbolDirectory')

    files = ["nasdaqlisted.txt", "otherlisted.txt"]
    all_dfs = []

    for file in files:
        buffer = []
        ftp.retrlines(f"RETR {file}", buffer.append)
        content = "\n".join(buffer)
        
        df = pd.read_csv(StringIO(content), sep="|")
        df = df[:-1]  # remove footer row
        all_dfs.append(df)

    ftp.quit()

    # Combine and return a unified DataFrame with standardized columns
    combined_df = pd.concat(all_dfs, ignore_index=True)
    combined_df.rename(columns={'Symbol': 'ticker', 'Security Name': 'company_name'}, inplace=True)
    return combined_df[['ticker', 'company_name']].drop_duplicates()

In [24]:
import yfinance as yf
import time

def enrich_with_yfinance(df: pd.DataFrame, sleep_time: float = 0.5) -> pd.DataFrame:
    """
    Adds 'yf_company_name' and 'market_cap' columns to the DataFrame using yfinance.
    Original 'company_name' from NASDAQ remains untouched for reference.
    """
    enriched_data = []

    for _, row in df.iterrows():
        ticker = row['ticker']
        try:
            stock = yf.Ticker(ticker)
            info = stock.info
            yf_name = info.get('longName', 'N/A')
            market_cap = info.get('marketCap', 'N/A')
        except Exception as e:
            print(f"Error for {ticker}: {e}")
            yf_name = "Error"
            market_cap = None
        
        enriched_data.append({
            'ticker': ticker,
            'original_name': row['company_name'],
            'yf_company_name': yf_name,
            'market_cap': market_cap
        })

        time.sleep(sleep_time)  # avoid rate limiting

    return pd.DataFrame(enriched_data)

In [36]:
tickers_df = fetch_us_listed_tickers()

In [38]:
tickers_df = tickers_df.drop_duplicates(subset=['ticker'])  # Remove duplicates based on ticker

In [39]:
tickers_df.head()

  ticker                                       company_name
0   AACB  Artius II Acquisition Inc. - Class A Ordinary ...
1  AACBR                Artius II Acquisition Inc. - Rights
2  AACBU                 Artius II Acquisition Inc. - Units
3   AACG  ATA Creativity Global - American Depositary Sh...
4   AADR                AdvisorShares Dorsey Wright ADR ETF

In [26]:
enriched_df = enrich_with_yfinance(tickers_df)

500 Server Error: Internal Server Error for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/LUCYW?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=LUCYW&crumb=fhSyczRYun3

Error for LUCYW: 'NoneType' object has no attribute 'update'
Error for nan: 'float' object has no attribute 'upper'

404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/ZAZZT?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=ZAZZT&crumb=fhSyczRYun3

Error for ZAZZT: 'NoneType' object has no attribute 'update'

404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/ZBZZT?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=ZBZZT&crumb=fhSyczRYun3

Error for ZBZZT: 'NoneType' object has no attribute 'update'

404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/ZCZZT?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=ZCZZT&crumb=fhSyczRYun3

Error for ZCZZT: 'NoneType' object has no attribute 'update'

404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/ZXYZ.A?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=ZXYZ.A&crumb=fhSyczRYun3

Error for ZXYZ.A: 'NoneType' object has no attribute 'update'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'
Error for nan: 'float' object has no attribute 'upper'

KeyboardInterrupt:

In [22]:
def filter_valid_companies(df: pd.DataFrame):
    """
    Filters the DataFrame to keep only rows with valid company names and market cap.
    """
    return df[
        (df['yf_company_name'].notna()) &
        (df['yf_company_name'] != 'N/A') &
        (df['yf_company_name'] != 'Error') &
        (df['market_cap'] != 'N/A')
    ].reset_index(drop=True)

In [ ]:
enriched_df

100

In [23]:
filtered_df = filter_valid_companies(enriched_df)
filtered_df.head()

,ticker,original_name,yf_company_name,market_cap
0,AACB,Artius II Acquisition Inc. - Class A Ordinary ...,Artius II Acquisition Inc. Class A Ordinary Sh...,248854880
1,AACBU,Artius II Acquisition Inc. - Units,Artius II Acquisition Inc. Units,253260512
2,AACG,ATA Creativity Global - American Depositary Sh...,ATA Creativity Global,30211798
3,AAL,"American Airlines Group, Inc. - Common Stock",American Airlines Group Inc.,6358759936
4,AAME,Atlantic American Corporation - Common Stock,Atlantic American Corporation,26931038

In [ ]:
filtered_df.to_csv('filtered_us_companies.csv', index=False)